.core-navbar {
  position: relative;
  width: 100%;
  height: $defaultItemSize;
  line-height: $defaultItemSize;

  a {
    padding: 0 $gap;
  }

  .left-controls {
    float: left;
    text-align: center;
    height: $defaultItemSize;
    max-width: 50%;
    min-width: $defaultItemSize;
  }

  .right-controls {
    float: right;
    height: $defaultItemSize;
    max-width: 50%;
    min-width: $defaultItemSize;
  }
}
