<configuration debug="true">

    <!-- This is the default development console appender, it uses System.out and it should not be used in the production mode. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <!--
                An example of the pattern:
                2011-04-05 08:07:07,964 [server1, http-8080-Processor16, /sc-web-console/sc/sn/mock_demo_service/on/Demo,
                 127.0.1.1:4c8ed99e:12f244556e1:-7fdd, 6B6*****C6C2, deih3u36bh] INFO  c.c.s.f.w.f.screen.ScreenFormPanel - the
                 message for key 'widget16_label_key' was not found: form='demo_form1', locale='cs'
            -->
            <pattern>%d{ISO8601} [${MACHINE}, %thread, %X{REQUEST_URI}, %X{REQUEST_ID}, %X{SESSION_ID}, %X{CORRELATION_ID}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- CleverBSS integration namespaces -->
    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.ws" level="debug"/>
    <logger name="org.springframework.ws.client.MessageTracing" level="trace"/>
    <logger name="org.apache.camel" level="debug"/>
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

