<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="CONSOLE_LOG_PATTERN" value="%d{ISO8601} [%thread, %X{REQUEST_URI}, %X{REQUEST_ID}, %X{SESSION_ID}, %X{SOURCE_SYSTEM}, %X{CORRELATION_ID}, %X{PROCESS_ID}] ${LOG_LEVEL_PATTERN:-%5p} %-40.40logger{36} : %msg%n"/>

    <!-- This is the default development console appender. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <!--
                An example of the pattern:
                2011-04-05 08:07:07,964 [http-8080-Processor16, /sc-web-console/sc/sn/mock_demo_service/on/Demo,
                 127.0.1.1:4c8ed99e:12f244556e1:-7fdd, 6B6*****C6C2, deih3u36bh, process123] INFO  c.c.s.f.w.f.screen.ScreenFormPanel 
                 : the message for key 'widget16_label_key' was not found: form='demo_form1', locale='cs'
            -->
            <pattern>${logging.pattern.console:-${CONSOLE_LOG_PATTERN}}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>    
    
    <!-- OpenHub integration namespaces -->
    <logger name="org.openhubframework.openhub" level="${logging.level.org.openhubframework.openhub:-DEBUG}"/>
    <!-- Spring namespaces -->
    <logger name="org.springframework" level="${logging.level.org.springframework:-WARN}"/>
    <logger name="org.springframework.jdbc.core" level="${logging.level.org.springframework.jdbc.core:-ERROR}"/>
    <!-- Camel namespaces  -->
    <logger name="org.apache.camel" level="${logging.level.org.apache.camel:-ERROR}"/>
    
    <root level="${logging.level.root:-ERROR}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

