table th {
    vertical-align: top;
}

.info {
    font-size: small;
}

.info span {
    vertical-align: text-bottom;
    background: url('images/ui-icons_2e83ff_256x240.png') -16px -144px no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.warn {
    font-weight: bold;
}

.warn span {
    vertical-align: text-bottom;
    background: url('images/ui-icons_cd0a0a_256x240.png') 0 -144px no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.navigation {
    font-size: small;
    margin: 2pt;
}

.navigation.top {
    float: right;
    clear: both;
}

.navigation.top a {
    color: #222222;
    text-decoration: none;
}

.navigation.top a:hover {
    color: #cd0a0a;
}

.navigation.top a.date span {
    vertical-align: text-bottom;
    background: url('images/ui-icons_222222_256x240.png') -112px -112px no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.navigation.top a.date:hover span {
    background-image: url('images/ui-icons_cd0a0a_256x240.png');
}

.navigation.top a.time span {
    vertical-align: text-bottom;
    background: url('images/ui-icons_222222_256x240.png') -80px -112px no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.navigation.top a.time:hover span {
    background-image: url('images/ui-icons_cd0a0a_256x240.png');
}

.groupHeader a {
    color: #222222;
    text-decoration: none;
}

.groupHeader a span {
    vertical-align: text-bottom;
    background: url('images/ui-icons_222222_256x240.png') -128px -112px no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.groupHeader a:hover {
    color: #cd0a0a;
    text-decoration: underline;
}

.groupHeader a:hover span {
    background-image: url('images/ui-icons_cd0a0a_256x240.png')
}

.line {
    color: #808080;
    font-size: small;
    font-family: monospace;
    white-space: pre;
}

tr.line .msg {
    white-space: pre-wrap;
}

.line .date {
    color: black;
}

.line .SOURCE_SYSTEM {
    display: inline-block;
    margin: 0 0.0em;
    padding: 0 3px;
    background: #8DAE5A;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.line .CORRELATION_ID {
    color: #FF9966;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.line.TRACE .level {
    color: blue;
}

.line.DEBUG .level {
    color: blue;
}

.line.INFO .level {
    color: green;
}

.line.ERROR .level {
    color: red;
    font-weight: bold;
}

.line.WARN .level {
    color: orange;
    font-weight: bold;
}

.line .logger {
    color: #600000;
}

.line .msg {
    color: black;
}

.errorMessage {
    display: inline-block;
    margin: 0 0.0em;
    padding: 1px;
    background: #f21b00;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.line.o\.s\.w\.s\.s\.e\.i\.SoapEnvelopeLoggingInterceptor .msg {
    display: inline-block;
    margin: 0 0.0em;
    padding: 1px;
    background: #97CAF2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.line.o\.s\.ws\.client\.MessageTracing\.sent .msg, .line.o\.s\.w\.client\.MessageTracing\.received .msg, .soapMessage {
    display: inline-block;
    margin: 0 0.0em;
    padding: 1px;
    background: #FF8000;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.dialogbox {
    background-color: #F5F4F2;
    overflow: auto;
    padding: 10px;
    word-wrap: break-word;
    border: 7px solid #9678D3;
}