html body {
    background-color: #fff;
    font-family: "Calibri", "Trebuchet MS", "Trebuchet", "Arial", "Times New Roman", Times, serif;
    color: #666;

}

body {
    margin: 0;
    width: 100%;
}

h4 {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0 3px 0px;
    padding: 0;
}

h5 {
    font-weight: normal;
    font-size: 17px;
    text-decoration:underline;
    margin: 10px 0 3px 0px;
    padding: 0;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.page {
    margin: auto;
    max-width: 1200px;
    min-height: 500px;
    padding-left: 20px;
}

.view {
    font-size: 0.9em;
    margin-top: 8px;
}

.view.note {
    margin: 15px;
    font-size: small;
}

.view.result {
    margin: 15px;
    font-size: small;
    color: #ff7500;
}

.view label {
    width: 100%;
    text-align: left;
}

.view legend {
    font-weight: bolder;
}

.view fieldset {
    float: none;
    text-align: left;
    border: 1px solid;
    margin-top: 15px;
    padding: 15px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #F5F4F2;
    padding-top: 4px;
}

.headerWrapper {
    margin: auto;
    max-width: 1200px;
    padding-left: 20px;
    white-space: nowrap;
}

span.logo {
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 20px;
}

span.logo a img {
    border: 0;
}

span.headline {
    display: block;
    float: left;
    height: 40px;
    color: #7D3CBE;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 40px;
    border-left: 1px #7D3CBE solid;
    margin-top: 10px;
    padding-left: 20px;
}

span.logout {
    margin-top: 20px;
    margin-right: 50px;
    display: block;
    float: right;
}

span.logout a {
    text-decoration: none;
    color: #333;
}

span.logout a:hover {
    text-decoration: underline;
}

div.links {
    float: left;
    width: 500px;
}

div.links ul {
    padding: 0;
    margin: 0;
    width: 400px;
}

div.links ul li {
    list-style: none;
    padding: 5px 0 5px 10px;
    color: #fff;
    background: #9678D3;
    border-top: 10px #fff solid;
}

div.links ul ul {
    padding: 0;
    margin: 0;
}

div.links ul ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    background: #F5F4F2;
}

div.links ul ul li a {
    display: block;
    padding: 5px 0 5px 10px;
    text-decoration: none;
    color: #333;
}

div.links ul ul li a:hover {
    text-decoration: underline;
    background: #ddd;
}

div.menu {
    float: none;
    width: 200px;
    margin: 130px 400px auto;
}

div.wsdl {
    float: left;
}

div.wsdl ul {
    padding: 0 20px;
    margin: 15px 0 0 0;
}

div.wsdl ul li {
    color: #9678D3;
    list-style-type: square;
    padding: 0px 0 2px 0px;
}

div.wsdl ul li a {
    text-decoration: none;
    color: #333;
}

div.wsdl ul li a:hover {
    text-decoration: underline;
}

div.clearBoth {
    clear: both;
    padding-top: 30px;
}

div.footer {
    width: 100%;
    height: 50px;
    background-color: #F5F4F2;
    padding-top: 6px;
    margin-top: 20px;
}

.footerWrapper {
    margin: auto;
    max-width: 1200px;
    padding-left: 20px;
}

span.companyLogo {
    float: right;
    margin: 10px 30px 0 0;
    color: #7D3CBE;
}

span.companyLogo a {
    text-decoration: none;
}

span.companyLogo a:hover {
    text-decoration: underline;
}

div.companyLogo {
    float: right;
    margin: 10px 30px 0 0;
}

div.companyLogo a img {
    border: 0;
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 36px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/msg-error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}

.success {
    background:#e9ffd9 url('images/msg-success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}

.warning {
    background:#fff8c4 url('images/msg-warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}

.notice {
    background:#e3f7fc url('images/msg-notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

.showMoreBtn {
    margin: 4px;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: 9px;
    -moz-border-radius-topleft: 9px;
    border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    border-bottom-right-radius: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-left-radius: 9px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    height: 19px;
    line-height: 19px;
    width: 56px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

.showMoreBtn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color: #e9e9e9;
}

.showMoreBtn:active {
    position: relative;
    top: 1px;
}