#login .button{
    width:100px;
    background:#9678D3;
    display:block;
    margin:0 auto;
    margin-top:15%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#login .button:hover{
    background:#8066DA;
}

#login{
    width:350px;
    margin:0 auto;
    margin-top:140px;
    margin-bottom:2%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
}

#login h1{
    background:#9678D3;
    margin:0;
    padding:13px 0;
    font-size:110%;
    font-weight:300;
    text-align:center;
    color:#fff;
}

#login form{
    background:#f0f0f0;
    padding:5% 4%;
}

#login input[type="text"],input[type="password"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#login input[type="submit"]{
    width:100%;
    background:#9678D3;
    border:0;
    padding:3%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#login input[type="submit"]:hover{
    background:#8066DA;
}