a {
    text-decoration: none;
}

div#dateops {
    float: left;
    margin-bottom: 15px;
}

div#results {
    clear: left;
}

div#results span.notifier {
    display: block;
    font-family: sans-serif;
    text-align: center;
    background-color: #EEEEEE;
}

div#wrapper {
}

fieldset {
    width: auto;
    float: left;
    padding: 1.5em 0 1em 0;
    font-family: sans-serif;
    border: 0;
}

fieldset input[type="text"] {
    float: left;
    width: 90px;
    font-size: 95%;
    text-align: center;
}

fieldset label {
    width: 81px;
    float: left;
}

label[for="btns"] {
    margin-right: 5px;
}

fieldset li {
    clear: both;
    display: list-item;
    list-style: none;
}

span {
    margin: 3px 5px 5px 5px;
}

fieldset ul {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset ul li span {
    display: inline-block;
    float: left;
    width: auto;
}

label {
    float: left;
    width: 25%;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
}

table {
    font-family: sans-serif;
}

table.bottomBorder {
    border-collapse: collapse;
}

table.bottomBorder td, table.bottomBorder th {
    border-bottom: 0;
    padding: 5px;
    border: 1px solid black;
}

td.ok {
    color: #7CB940;
}

td.nok {
    color: red;
    font-weight: bold;
}

.nok a {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

th {
    text-align: left;
}

thead {
    background-color: #CCCCCC;
}

tr.odd {
    background-color: #EEEEEE;
}

tr.even {
    background-color: #ffffff;
}