@import '~react-md/src/scss/react-md';
@import '~react-md/src/scss/bundles/blue-light_blue.scss';

$md-primary-color: #1aa6d7;

@include react-md-everything;

.md-dialog--big {
  @include react-md-dialog-width(10);
}

.md-navbar-item--custom {
  @include react-md-lists($light-theme: 'red');
}

.md-list--drawer {
  background-color: #e6e6e6;
}

.md-data-table--plain .md-table-column--data, .md-data-table .md-table-column--plain {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
}
